<script src="/js/perm/config/config.js?token=<%=permTokens.config%>"></script>
<script nonce="<%=cspNonce%>">
window.templates = <%-JSON.stringify(disabledFeaturesTemplates)%>;
</script>

<div class="wiki-content">
    <h2 class="wiki-heading">설정</h2>
    <div class="wiki-heading-content">
        <%for(let config of [
            'publicConfig.json',
            'serverConfig.json'
        ]) {%>
        <h3 class="wiki-heading"><%=config%></h3>
        <div class="wiki-heading-content">
            <form method="post" action="/admin/config/configjson">
                <input type="hidden" name="config" value="<%=config%>">
                <textarea name="content" rows="15"><%=fs.readFileSync(config)%></textarea>
                <button class="thetree-button thetree-primary-button configApplyButtons">적용</button>
            </form>
        </div>
        <%}%>

        <h3 class="wiki-heading wiki-heading-folded">텍스트</h3>
        <div class="wiki-heading-content wiki-heading-content-folded">
            <form method="post" action="/admin/config/stringconfig/add">
                <input name="key" placeholder="key" required>
                <button class="thetree-button thetree-primary-button">추가</button>
                <a class="thetree-button thetree-primary-button" href="/admin/config/tools/fixstringconfig">stringConfig.example.json 필드 추가</a>
            </form>

            <%for(let [key, value] of Object.entries(stringConfig)) {%>
                <form method="post" action="/admin/config/stringconfig">
                    <input type="hidden" name="key" value="<%=key%>">
                    <h4 class="wiki-heading wiki-heading-folded"><%=key%></h4>
                    <div class="wiki-heading-content wiki-heading-content-folded">
                        <textarea name="value" rows="10"><%=value%></textarea>
                        <button class="thetree-button thetree-primary-button">적용</button>
                        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/removestringconfig?key=<%=encodeURIComponent(key)%>">삭제</a>
                    </div>
                </form>
            <%}%>
        </div>
    </div>

    <h2 class="wiki-heading">기능 비활성화</h2>
    <div class="wiki-heading-content">
        <div class="wiki-table-wrap">
            <table class="wiki-table">
                <tbody>
                <tr style="font-weight: 600">
                    <td>Method</td>
                    <td>Type</td>
                    <td>Condition</td>
                    <td>MessageType</td>
                    <td>Message</td>
                    <td>Action</td>
                </tr>

                <%for(let i in disabledFeatures) {%>
                    <%let item = disabledFeatures[i];%>
                    <tr>
                        <td style="min-width: 100px;"><%=item.method%></td>
                        <td style="min-width: 100px;"><%=item.type%></td>
                        <td style="max-width: 300px; white-space: nowrap; overflow-x: auto;"><%=item.condition%></td>
                        <td style="min-width: 120px;"><%=item.messageType%></td>
                        <td style="min-width: 100px;"><%=item.message%></td>
                        <td><a href="/admin/config/tools/deletedisabledfeature?index=<%=i%>" class="thetree-square-button thetree-danger-button">삭제</a></td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>


        <form id="disabled-features-form" method="post" action="/admin/config/disabledfeatures">
            <select id="templateSelector"></select>
            <select name="methodField">
                <option>ALL</option>
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
            </select>
            <select name="type">
                <option>string</option>
                <option>js</option>
            </select>
            <input name="condition" placeholder="condition" required>
            <select name="messageType">
                <option>flexible</option>
                <option>res.error</option>
                <option>plaintext</option>
            </select>
            <input name="message" placeholder="message">
            <button class="thetree-button thetree-primary-button">추가</button>
        </form>
    </div>

    <h2 class="wiki-heading wiki-heading-folded">openNAMU 기여 이동</h2>
    <div class="wiki-heading-content wiki-heading-content-folded">
        <form method="post" action="/admin/config/migratecontribution">
            <input name="from" placeholder="openNAMU 기여자 이름(O: 포함)" required>
            <input name="to" placeholder="새 기여자 이름" required>
            <button class="thetree-button thetree-primary-button">이동</button>
        </form>
    </div>
</div>