<style>
#evalOutputParent {
    width: 100%;
    height: 200px;
    resize: vertical;
}

.static-file {
    width: 50%;
}

.delete-file {
    float: right;
}
</style>

<script nonce="<%=cspNonce%>">
document.addEventListener('thetree:pageLoad', () => {
    const evalOutput = document.getElementById('evalOutput');
    const evalContent = document.getElementById('evalContent');
    const evalRun = document.getElementById('evalRun');
    const dangerButtons = document.getElementsByClassName('thetree-danger-button');

    evalRun.addEventListener('click', async () => {
        if(!evalContent.value) return;

        evalOutput.innerHTML = '';

        const response = await fetch('/admin/config/eval', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                code: evalContent.value
            }).toString()
        });
        evalOutput.innerHTML = await response.text();
    });

    evalContent.addEventListener('keydown', e => {
        if(!e.shiftKey && e.key === 'Enter') {
            e.preventDefault();
            evalRun.click();
        }
    });

    for(let button of dangerButtons) button._thetree.preHandler = e => {
        if(!confirm('go?')) {
            e.preventDefault();
            return false;
        }
    }
}, { once: true });
</script>

<div class="wiki-content">
    <h2 class="wiki-heading">도구</h2>
    <div class="wiki-heading-content">
        <a class="thetree-button thetree-primary-button" href="/admin/config/tools/getgrant">grant 권한 받기</a>
        <a class="thetree-button thetree-primary-button" href="/admin/config/tools/minifyjs">JS 다시 minify</a>
        <a class="thetree-button thetree-primary-button" href="/admin/config/tools/minifycss">CSS 다시 minify</a>
        <a class="thetree-button thetree-primary-button" href="/admin/config/tools/migrateopennamu">openNAMU 데이터 마이그레이션</a>
        <br><br>
        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/clearpublicmindir">publicMin 안 디렉토리 비우기</a>
        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/clearcachedir">cache 안 디렉토리 비우기</a>
        <br><br>
        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/generateblame">blame 없는 기록 blame 생성</a>
        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/generatebacklink">역링크/검색 문서 재생성</a>
        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/generatebacklink_backlinkonly">역링크만 재생성</a>
        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/generatebacklink_searchonly">검색 문서만 재생성</a>
        <a class="thetree-button thetree-danger-button" href="/admin/config/tools/resetsearchindex">MeiliSearch 인덱스 재생성</a>
    </div>

    <h2 class="wiki-heading wiki-heading-folded">Eval</h2>
    <div class="wiki-heading-content wiki-heading-content-folded">
        <pre id="evalOutputParent"><code id="evalOutput"></code></pre>
        <textarea id="evalContent" rows="5"></textarea>
        <button id="evalRun" class="thetree-button thetree-primary-button">실행</button>
    </div>

    <h2 class="wiki-heading">설정</h2>
    <div class="wiki-heading-content">
        <%for(let config of [
            'publicConfig.json',
            'serverConfig.json'
        ]) {%>
        <h3 class="wiki-heading wiki-heading-folded"><%=config%></h3>
        <div class="wiki-heading-content wiki-heading-content-folded">
            <form method="post" action="/admin/config/configjson">
                <input type="hidden" name="config" value="<%=config%>">
                <textarea name="content" rows="15"><%=fs.readFileSync(config)%></textarea>
                <button class="thetree-button thetree-primary-button configApplyButtons">적용</button>
            </form>
        </div>
        <%}%>

        <h3 class="wiki-heading wiki-heading-folded">텍스트</h3>
        <div class="wiki-heading-content wiki-heading-content-folded">
            <a class="thetree-button thetree-primary-button" href="/admin/config/tools/fixstringconfig">stringConfig.example.json 필드 추가</a>

            <form method="post" action="/admin/config/stringconfig">
                <%for(let [key, value] of Object.entries(stringConfig)) {%>
                    <h4 class="wiki-heading wiki-heading-folded"><%=key%></h4>
                    <div class="wiki-heading-content wiki-heading-content-folded">
                        <textarea name="<%=key%>" rows="10"><%=value%></textarea>
                    </div>
                <%}%>
                <button class="thetree-button thetree-primary-button">적용</button>
            </form>
        </div>
    </div>

    <h2 class="wiki-heading wiki-heading-folded">openNAMU 기여 이동</h2>
    <div class="wiki-heading-content wiki-heading-content-folded">
        <form method="post" action="/admin/config/migratecontribution">
            <input name="from" placeholder="openNAMU 기여자 이름(O: 포함)" required>
            <input name="to" placeholder="새 기여자 이름" required>
            <button class="thetree-button thetree-primary-button">이동</button>
        </form>
    </div>

    <h2 class="wiki-heading">정적 파일</h2>
    <div class="wiki-heading-content">
        <%for(let file of customStaticFiles) {%>
            <p class="static-file">
                <a href="<%=file%>" target="_blank"><%=file%></a>
                <a class="thetree-square-button thetree-danger-button delete-file" href="/admin/config/tools/deletestaticfile?path=<%=file%>">삭제</a>
            </p>
        <%}%>

        <hr>

        <form method="post" action="/admin/config/staticfile" enctype="multipart/form-data" data-no-form-handler="true">
            <input name="path" placeholder="경로" value="/" required>
            <input name="filename" placeholder="파일 이름">
            <input type="file" name="file" required>
            <button class="thetree-button thetree-primary-button">업로드</button>
        </form>
    </div>
</div>