<link rel="stylesheet" href="/css/views/grant.css">

<%const targetUserExists = typeof targetUser !== undefined && !!targetUser;%>

<form id="grant-form">
    <p>
        Username
        <input name="username" value="<%=req.query.username%>" required<%=targetUserExists ? '' : ' autofocus'%>>
    </p>

    <div class="button-block">
        <button class="thetree-square-button thetree-blue-button">확인</button>
    </div>
</form>

<%if(targetUserExists) {%>
<form method="post">
    <input type="hidden" name="uuid" value="<%=targetUser.uuid%>">
    <h3><%=targetUser.name%></h3>

    <%for(let perm of (req.permissions.includes('config') ? AllPermissions.filter(a => req.permissions.includes('developer') || !ProtectedPermissions.includes(a)) : config.grant_permissions)) {%>
        <p>
            <label for="perm_<%=perm%>"><%=perm%></label>
            <input type="checkbox" id="perm_<%=perm%>" name="<%=perm%>" value="Y"<%=targetUser.permissions.includes(perm) ? ' checked' : ''%>>
        </p>
    <%}%>

    <div class="button-block">
        <%if(req.permissions.includes('grant_hidelog')) {%>
            <label>
                hidelog:
                <input type="checkbox" name="hidelog" value="Y">
            </label>
        <%}%>
        <button class="thetree-square-button thetree-blue-button">확인</button>
    </div>
</form>
<%}%>