<link rel="stylesheet" href="/css/views/login_history_result.css">
<%
const link = query => `${req.path}?${querystring.stringify({
    ...utils.withoutKeys(req.query, [query.from ? 'until' : 'from']),
    ...query
})}`;
const navigationPage = include('../components/pageButton', {
    prevLink: prevItem ? link({
        until: prevItem._id.toString()
    }) : null,
    nextLink: nextItem ? link({
        from: nextItem._id.toString()
    }) : null
});
%>

<p>마지막 로그인 UA : <%=userAgent%></p>
<p>이메일 : <%=targetUser?.email%></p>

<div class="navigation-div navigation-page"><%-navigationPage%></div>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>DATE</th>
            <th>TYPE</th>
            <th>IP</th>
            <th>DEVICE</th>
            <th>UA</th>
        </tr>
        </thead>
        <tbody>
        <%for(let log of logs) {%>
        <tr>
            <td><%-getFullDateTag(log.createdAt)%></td>
            <td><%=utils.getKeyFromObject(LoginHistoryTypes, log.type) ?? log.type%></td>
            <td><%=log.ip%></td>
            <td><%=log.device%></td>
            <td><%=log.userAgent%></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>
<div class="navigation-div navigation-page"><%-navigationPage%></div>