<%if(categories.length) {%>
    <div class="category-list">
        <span class="category-list-name">분류</span>
        <ul class="category-list-content">
            <%for(let category of categories) {%>
                <li class="category-list-item<%=category.blur ? ' category-list-item-blur' : ''%><%=category.notExist ? ' category-list-item-not-exist' : ''%>">
                    <a href="/w/<%=category.document.replaceAll('#', '%23')%>"><%=category.document%></a>
                </li>
            <%}%>
        </ul>
    </div>
<%} else if(fromWiki) {%>
    <div class="thetree-alert">
        <div class="thetree-alert-content">
            이 문서는 분류가 되어 있지 않습니다. <a href="<%=doc_action_link({
                namespace: '분류',
                title: '분류'
            }, 'w')%>">분류:분류</a>에서 적절한 분류를 찾아 문서를 분류해주세요!
        </div>
    </div>
<%}%>