<%hideUser = typeof hideUser !== 'undefined' && hideUser;%>

<div class="changes-block<%=hideUser ? ' nouser' : ''%>">
    <div class="changes-line changes-heading">
        <div class="changes-value">제목</div>
        <div class="changes-value"<%=hideUser ? ' hidden' : ''%>>수정자</div>
        <div class="changes-value">시간</div>
    </div>

    <%for(let item of items) {%>
        <%
        const thread = item.topic ? item : item.thread;
        const comment = item.thread ? item : null;
        %>

        <div class="changes-line">
            <div class="changes-value">
                <a href="/thread/<%=thread.url%><%=comment ? `#${comment.id}` : ''%>"><%=comment ? `#${comment.id} ` : ''%><%=thread.topic%></a>
                <span class="document-text">
                    <span class="document-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-v-8e10cac1=""><path d="M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm56 256c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120z"></path></svg></span>
                    <a href="<%=doc_action_link(thread.document.parsedName, 'w')%>" class="document-link"><%=doc_fulltitle(thread.document.parsedName)%></a>
                </span>
            </div>

            <%if(!hideUser) {%>
                <div class="changes-value">
                    <%-userHtml(req.user, {
                        note: `토론 ${thread.url} 긴급차단`
                    })%>
                </div>
            <%}%>

            <div class="changes-value">
                <%-getFullDateTag(thread.lastUpdateAt, 'relative')%>
            </div>
        </div>
    <%}%>
</div>