<p><%=page.title%> (문서 이름공간, 리다이렉트 제외)</p>
<%-pageButton%>
<ul class="list-page">
    <%for(let item of items) {%>
    <li>
        <a href="<%=doc_action_link(item.document.parsedName, 'w')%>"><%=doc_fulltitle(item.document.parsedName)%></a>
        (<%=item.contentLength%>글자)
    </li>
    <%}%>
</ul>
<%-pageButton%>