<%-include('../components/namespaceSelector', { namespaces: readableNamespaces })%>
<%const frontPage = utils.parseDocumentName(config.front_page);%>
<p>다음은 <a href="<%=doc_action_link(frontPage, 'w')%>"><%=doc_fulltitle(frontPage)%></a>에서 링크로 도달할 수 없는 문서로, 역링크가 없거나 자기네들끼리만 링크가 되어 있는 경우입니다.</p>
<p>이 페이지는 하루에 한번 업데이트 됩니다.</p>
<%if(req.permissions.includes('developer')) {%>
    <a href="/OrphanedPages/update" class="thetree-button thetree-danger-button">업데이트</a>
<%}%>
<%
const link = query => `${req.path}?${querystring.stringify({
    ...utils.withoutKeys(req.query, [query.from ? 'until' : 'from']),
    ...query
})}`;
const navigationPage = include('../components/pageButton', {
    prevLink: prevItem >= 0 ? link({
        until: prevItem
    }) : null,
    nextLink: nextItem < total ? link({
        from: nextItem
    }) : null
});
%>
<div class="navigation-div navigation-page"><%-navigationPage%></div>
<ul class="list-page">
    <%for(let item of items) {%>
        <%const parsedName = utils.parseDocumentName(item);%>
        <li>
            <a href="<%=doc_action_link(parsedName, 'w')%>"><%=doc_fulltitle(parsedName)%></a>
            <a href="<%=doc_action_link(parsedName, 'backlink')%>">[역링크]</a>
        </li>
    <%}%>
</ul>
<div class="navigation-div navigation-page"><%-navigationPage%></div>