<%-include('../components/namespaceSelector')%>
<%-pageButton%>
<ul class="list-page">
    <%for(let item of items) {%>
        <li><a href="<%=doc_action_link(item.parsedName, 'w')%>"><%=doc_fulltitle(item.parsedName)%></a></li>
    <%}%>
</ul>
<%-pageButton%>