<style>
    @import "/css/views/acl.css";
</style>

<script src="/js/acl.js"></script>

<div class="nav-block">
    <div class="nav-block-line">
        <div class="nav-block-content">
            <ul class="nav-block-content-ul">
                <li><a class="nav-link" href="#document"<%=editableACL ? ' data-editable' : ''%>>문서 ACL</a></li>
                <li><a class="nav-link" href="#namespace"<%=editableNSACL ? ' data-editable' : ''%>>이름공간 ACL</a></li>
            </ul>
        </div>
    </div>
    <%# invisible gradient not implemented %>
</div>

<div class="nav-block" style="margin-top: 0.5rem;">
    <div class="nav-block-line">
        <div class="nav-block-content">
            <ul class="nav-block-content-ul">
                <%for(let [key, value] of Object.entries(ACLTypes).slice(1)) {%>
                    <li><a class="nav-link" data-type="<%=value%>" href="#document.<%=utils.camelToSnakeCase(key)%>"><%=ACL.aclTypeToString(value)%></a></li>
                <%}%>
            </ul>
        </div>
    </div>
    <%# invisible gradient not implemented %>
</div>

<div>
    <h4 id="acl-title" class="title">카테고리 이름</h4>

    <div class="table-elements table-block">
        <table class="table-elements table">
            <colgroup>
                <col style="width: 60px;">
                <col>
                <col style="width: 80px;">
                <col style="width: 200px;">
                <col style="width: 60px;">
            </colgroup>

            <thead>
            <tr>
                <th>No</th>
                <th>Condition</th>
                <th>Action</th>
                <th>Expiration</th>
                <th></th>
            </tr>
            </thead>

            <%for(let [key, value] of Object.entries(ACLTypes).slice(1)) {%>
                <%const rulesGroup = [acl?.aclTypes[value] ?? [], namespaceACL?.aclTypes[value] ?? []];%>
                <%for(let i in rulesGroup) {%>
                    <tbody id="tbody-<%=i === '0' ? 'document' : 'namespace'%>.<%=utils.camelToSnakeCase(key)%>" class="nav-tbody" hidden>
                    <%const rules = rulesGroup[i];%>
                    <%const editable = i === '0' ? editableACL : editableNSACL;%>
                    <%if(rules.length) for(let rule of rules) {%>
                        <tr data-rule="<%=rule.uuid%>"<%=editable ? ' data-editable' : ''%>>
                            <td><%=rule.order + 1%></td>
                            <td><%=ACL.ruleToConditionString(rule)%></td>
                            <td><%=ACL.actionToString(rule)%></td>
                            <td><%-rule.expiresAt ? getFullDateTag(rule.expiresAt) : '영구'%></td>
                            <td>
                                <%if(editable) {%>
                                    <a href="/test?acl=<%=rule.uuid%>" class="acl-delete-button thetree-square-button thetree-danger-button">삭제</a>
                                <%}%>
                            </td>
                        </tr>
                    <%} else {%>
                        <tr>
                            <td colspan="5">(규칙이 존재하지 않습니다. 이름공간 ACL이 적용됩니다.)</td>
                        </tr>
                    <%}%>
                    </tbody>
                <%}%>
            <%}%>
        </table>

        <form id="create-acl-form" method="post">
            <input type="hidden" name="target">
            <input type="hidden" name="aclType">

            <div class="form-inline">
                <div class="form-group">
                    <label class="form-control-label">Condition</label>
                    <div>
                        <select class="form-control">
                            <%for(let [key, value] of Object.entries(ACLConditionTypes)) {%>
                            <option value="<%=utils.camelToSnakeCase(key)%>"><%=ACL.conditionToString(value)%></option>
                            <%}%>
                        </select>

                        <select class="form-control">
                            <%for(let perm of ACLPermissions) {%>
                            <option value="<%=perm%>"><%=ACL.permissionToString(perm)%></option>
                            <%}%>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Action :</label>
                    <div>
                        <select class="form-control">
                            <%for(let [key, value] of Object.entries(ACLActionTypes).slice(1, req.permissions.includes('developer') ? undefined : -1)) {%>
                            <option value="<%=utils.camelToSnakeCase(key)%>"><%=ACL.actionToString(value)%></option>
                            <%}%>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Duration :</label>
                    <div>
                        <select class="form-control">
                            <option value="0">영구</option>
                            <option value="60">1분</option>
                            <option value="300">5분</option>
                            <option value="600">10분</option>
                            <option value="1800">30분</option>
                            <option value="3600">1시간</option>
                            <option value="7200">2시간</option>
                            <option value="86400">하루</option>
                            <option value="259200">3일</option>
                            <option value="432000">5일</option>
                            <option value="604800">7일</option>
                            <option value="1209600">2주</option>
                            <option value="1814400">3주</option>
                            <option value="2592000">1개월</option>
                            <option value="15552000">6개월</option>
                            <option value="29030400">1년</option>
                        </select>
                    </div>
                </div>

                <button class="thetree-square-button thetree-blue-button">추가</button>
            </div>
        </form>
    </div>
</div>