<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%=config.site_name%>">
    <meta name="application-tooltip" content="<%=config.site_name%>">
    <meta name="application-starturl" content="/w/<%=config.front_page%>">

    <meta name="theme-color" content="<%=config.theme_color%>">

    <%let siteTitle = page.title;%>
    <%if(typeof document !== 'undefined') {%>
        <%const title = doc_fulltitle(document);%>
        <%siteTitle = title + getTitleDescription(page);%>

        <%if(typeof date === 'number') {%>
            <%if(typeof contentText !== 'undefined') {%><meta property="og:description" content="<%=contentText.slice(0, 200)%>"><%}%>
            <meta property="og:type" content="article">
        <%}%>
    <%}%>
    <meta property="og:title" content="<%=siteTitle%>">
    <meta property="og:site_name" content="<%=config.site_name%>">
    <meta property="og:url" content="<%=config.base_url%><%=req.path%>">
    <%if(config.embed_image) {%><meta property="og:image" content="<%=config.embed_image%>"><%}%>

    <title><%=siteTitle%> - <%=config.site_name%></title>

    <link rel="canonical" href="<%=config.base_url%><%=req.path%>">

    <style>
        @import "/css/ionicons.min.css";
        @import "/css/default.css";
        @import "/css/wiki.css";
        @import "/css/dark.css";
        @import "/css/github.min.css";
        @import "/css/github-dark-dimmed.min.css";

        * {
            --theme-color: <%=config.theme_color%>;
        }
    </style>

    <script defer src="/js/lib/alpinejs.min.js"></script>
    <script src="/js/lib/floating-ui-core.min.js"></script>
    <script src="/js/lib/floating-ui-dom.min.js"></script>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/wiki.js"></script>
    <script src="/js/modal.js"></script>
    <%-browserGlobalVarScript%>
    <style>
        [x-cloak] { display: none !important; }
    </style>

    <%-config.head_html?.replaceAll('{cspNonce}', cspNonce) || ''%>
</head>

<body x-data :class="$store.state.currentTheme === 'dark' ? 'theseed-dark-mode' : 'theseed-white-mode'">
<div id="progress-bar"></div>
<div id="app"><%-include(`../skins/${skin}/layout`, { contentHtml: typeof contentName !== 'undefined' ? include(path.join(__dirname, `views/${contentName}`)) : contentHtml })%></div>

<div id="tooltip" class="popper" style="display: none;">
    <div id="tooltip-arrow" class="popper__arrow"></div>
    <div id="tooltip-content" class="wiki-content"></div>
</div>

<div id="footnote-modal" class="thetree-modal-block thetree-modal">
    <div class="thetree-modal-block thetree-modal-bg"></div>
    <div class="thetree-modal-block thetree-modal-container thetree-footnote-modal-container" role="dialog" aria-modal="true" tabindex="-1">
        <div class="thetree-modal-content">
            <div class="footnote-modal-contents">
                <div id="footnote-modal-content" class="wiki-content"></div>
                <button class="thetree-modal-close">닫기</button>
            </div>
        </div>
    </div>
</div>

<div id="userpopup" class="popup popup-close" @click="$store.state.userPopup.close" @click.outside="$store.state.userPopup.close">
    <div>
        <div>
            <div @click.stop class="userpopup-username">
                <div class="userpopup-username-type" x-text="$store.state.userPopup.typeStr"></div>
                <div class="userpopup-username-name" x-text="$store.state.userPopup.name"></div>
            </div>
            <hr>
            <a x-show="$store.state.userPopup.account" :href="doc_action_link({namespace: '사용자', title: $store.state.userPopup.name}, 'w')" role="button" class="thetree-button">사용자 문서</a>
            <hr x-show="$store.state.userPopup.account">
            <a x-show="$store.state.userPopup.uuid" :href="`/contribution/${$store.state.userPopup.uuid}/document`" role="button" class="thetree-button">문서 기여 내역</a>
            <a x-show="$store.state.userPopup.uuid" :href="`/contribution/${$store.state.userPopup.uuid}/discuss`" role="button" class="thetree-button">토론 기여 내역</a>
            <%if(req.permissions.includes('admin')) {%>
                <hr>
                <a @click.prevent="navigator.clipboard.writeText($store.state.userPopup.uuid)" href="#" role="button" class="thetree-button">UUID 복사</a>
                <a x-show="$store.state.userPopup.type !== 2" :href="`/BlockHistory?query=${$store.state.userPopup.type === 0 ? $store.state.userPopup.name : $store.state.userPopup.uuid}&target=text`" role="button" class="thetree-button">차단 내역 조회</a>
                <hr x-show="$store.state.userPopup.blockable">
                <a x-show="$store.state.userPopup.blockable" @click.prevent="$store.state.userPopup.block" href="#" role="button" class="thetree-button thetree-block-button">차단</a>
            <%} else {%>
                <span @click.stop x-show="$store.state.userPopup.deleted" role="button" class="thetree-button thetree-button-disabled">(없음)</span>
            <%}%>
        </div>
    </div>
</div>

<%if(req.permissions.includes('admin')) {%>
    <div id="quickblock-modal" class="thetree-modal-block thetree-modal">
        <div class="thetree-modal-block thetree-modal-bg"></div>
        <div class="thetree-modal-block thetree-modal-container" role="dialog" aria-modal="true" tabindex="-1">
            <div class="thetree-modal-content">
                <form method="post" action="/aclgroup">
                    <h4>빠른 ACLGroup</h4>
                    <%-include('components/alert', { alert: '' })%>

                    <div>
                        <p>그룹:</p>
                        <select id="quickblock-group-select" name="group"></select>
                    </div>
                    <div x-data="{ mode: '' }">
                        <p>대상:</p>
                        <select id="quickblock-mode" name="mode" x-model="mode" x-init="mode = $el.value">
                            <option value="ip">아이피</option>
                            <option value="username">사용자 이름</option>
                        </select>
                        <input id="quickblock-target" type="text" :name="mode">
                    </div>
                    <div>
                        <p>사유:</p>
                        <input id="quickblock-note" type="text" name="note">
                    </div>
                    <div x-data="{ duration: '' }">
                        <p>차단 기간 :</p>
                        <span>
                            <select id="quickblock-duration" name="duration" x-model="duration" x-init="duration = $el.value">
                                <option value="0">영구</option>
                                <option value="300">5분</option>
                                <option value="600">10분</option>
                                <option value="1800">30분</option>
                                <option value="3600">1시간</option>
                                <option value="7200">2시간</option>
                                <option value="86400">하루</option>
                                <option value="259200">3일</option>
                                <option value="432000">5일</option>
                                <option value="604800">7일</option>
                                <option value="1209600">2주</option>
                                <option value="1814400">3주</option>
                                <option value="2419200">4주</option>
                                <option value="4838400">2개월</option>
                                <option value="7257600">3개월</option>
                                <option value="14515200">6개월</option>
                                <option value="29030400">1년</option>
                                <option value="raw">직접입력</option>
                            </select>
                            <input type="number" name="rawDuration" x-show="duration === 'raw'">
                            <select name="rawMultiplier" x-show="duration === 'raw'">
                                <option value="1">초</option>
                                <option value="60">분</option>
                                <option value="3600">시간</option>
                                <option value="86400">일</option>
                                <option value="604800">주</option>
                            </select>
                        </span>
                    </div>

                    <div class="aclgroup-modal-buttons">
                        <button class="thetree-modal-button thetree-square-button thetree-danger-button">추가</button>
                        <button type="button" class="thetree-modal-button thetree-square-button thetree-modal-close">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%}%>

<%-include('components/setting/modal')%>
</body>
</html>