<!DOCTYPE html>
<html lang="ko">
<body x-data :class="$store.state.currentTheme === 'dark' ? 'theseed-dark-mode' : 'theseed-white-mode'">
<div id="app"><%-include(`../skins/${skin}/layout.ejs`)%></div>
<div id="tooltip" class="popper" style="display: none;">
    <div id="tooltip-arrow" class="popper__arrow"></div>
    <div id="tooltip-content" class="wiki-content popper__inner"></div>
</div>
</body>

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%=config.site_name%>">
    <meta name="application-tooltip" content="<%=config.site_name%>">
    <meta name="application-starturl" content="/w/<%=config.front_page%>">

    <meta name="theme-color" content="<%=config.theme_color%>">

    <%let siteTitle = page.title;%>
    <%if(typeof document !== 'undefined') {%>
        <%const title = doc_fulltitle(document);%>
        <%siteTitle = title + getTitleDescription(page);%>
        <%if(typeof contentText !== 'undefined') {%><meta property="og:description" content="<%=contentText.slice(0, 200)%>"><%}%>
        <meta property="og:type" content="article">
    <%}%>
    <meta property="og:title" content="<%=siteTitle%>">
    <meta property="og:site_name" content="<%=config.site_name%>">
    <meta property="og:url" content="<%=config.base_url%><%=req.path%>">
    <%if(config.embed_image) {%><meta property="og:image" content="<%=config.embed_image%>"><%}%>

    <title><%=siteTitle%> - <%=config.site_name%></title>

    <link rel="canonical" href="<%=config.base_url%><%=req.path%>">

    <style>
        @import "/css/ionicons.min.css";
        @import "/css/default.css";
        @import "/css/wiki.css";
        @import "/css/dark.css";
        @import "/css/github.min.css";
        @import "/css/github-dark-dimmed.min.css";
    </style>

    <script defer src="/js/lib/alpinejs.min.js"></script>
    <script src="/js/lib/floating-ui-core.min.js"></script>
    <script src="/js/lib/floating-ui-dom.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/wiki.js"></script>
    <%-browserGlobalVarScript%>
    <style>
        [x-cloak] { display: none !important; }
    </style>
</head>
</html>