<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%=config.SITE_NAME%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%=config.SITE_NAME%>">
    <meta name="application-tooltip" content="<%=config.SITE_NAME%>">
    <meta name="application-starturl" content="/w/<%=config.FRONT_PAGE%>">

    <meta name="theme-color" content="<%=config.THEME_COLOR%>">

    <%if(true) {%>
        <meta property="og:title" content="나무위키:대문">
        <meta property="og:site_name" content="나무위키">
        <meta property="og:image" content="//i.namu.wiki/i/DmbfItvY2Yl1dUWvBYqHzRtArXw1N3FmwWlhbB_ss_VdcgyavakDoWlfc5r42YAYo22A9wXMtz27GXPYRAHOcQ.svg">
        <meta property="og:description" content="여러분이 가꾸어 나가는 지식의 나무 나무위키 에 오신 것을 환영합니다! 다크는 회색이 아니라 검정입니다! 나무위키">
        <meta property="og:url" content="https://namu.wiki/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4:%EB%8C%80%EB%AC%B8">
        <meta property="og:type" content="article">
    <%}%>

    <link rel="canonical" href="<%=env.HOST%><%=req.path%>">

    <style>
        @import "/css/default.css";
        @import "/css/wiki.css";
        @import "/css/dark.css";
    </style>

    <script defer src="/js/lib/alpinejs.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/common.js"></script>
    <%-browserGlobalVarScript%>
    <style>
        [x-cloak] { display: none !important; }
    </style>
</head>

<body x-data :class="$store.state.currentTheme === 'dark' ? 'theseed-dark-mode' : 'theseed-white-mode'">
<div id="app"><%-include(`../skins/${skin}/layout.ejs`)%></div>
</body>
</html>