<p>해당 문서를 찾을 수 없습니다.</p>
<p><a href="<%=doc_action_link(document, 'edit')%>">[새 문서 만들기]</a></p>

<%if(revs.length) {%>
    <div style="margin-top:40px;margin-bottom:15px;"></div>
    <h3>이 문서의 역사</h3>
    <ul>
        <%for(let rev of revs) {%>
            <%rev = utils.addHistoryData(rev);%>
            <li>
                <span><%-getFullDateTag(rev.createdAt)%></span>
                <strong>r<%=rev.rev%></strong>
                <%if(rev.infoText) {%><i>(<%-rev.infoText%>)</i><%}%>
                <%-rev.diffHtml%>
                <%-rev.userHtml%>
                (<span class="history-log"><%=rev.log%></span>)
            </li>
        <%}%>
    </ul>

    <a href="<%=doc_action_link(document, 'history')%>">[더보기]</a>
<%}%>