<style>
    @import "/css/views/signup.css";
</style>

<%if(typeof alert !== 'undefined') {%>
<div class="thetree-alert thetree-alert-danger">
    <div class="thetree-alert-content">
        <strong>[오류!]</strong>&nbsp; <span><%=alert%></span>
    </div>
</div>
<%}%>

<%
const fieldErrorExists = typeof fieldErrors !== 'undefined' && fieldErrors.length > 0;

let focusTarget = '';
if(fieldErrorExists) focusTarget = fieldErrors[0].path;

function fieldError(name) {
    if(!fieldErrorExists) return '';

    const error = fieldErrors.find(e => e.path === name);
    if(!error) return '';

    return `<p class="input-error">${error.msg}</p>`;
}
%>

<script src="/js/form_focus.js"></script>

<form method="post" id="member-form" data-focus="<%=focusTarget%>">
    <div class="signup-block">
        <textarea class="signup-input signup-terms" readonly><%=config.terms%></textarea>
    </div>

    <div class="signup-block">
        <label class="signup-agree-label" name="agree">
            <input type="checkbox" class="signup-agree-input" name="agree" value="Y">
            동의합니다.
        </label>
    </div>

    <%-fieldError('agree')%>

    <div class="signup-block">
        <label for="emailInput">Email</label>
        <input class="signup-input" id="emailInput" name="email">
    </div>

    <%-fieldError('email')%>

    <%if(config.email_whitelist.length) {%>
        <p>
            이메일 허용 목록이 활성화 되어 있습니다.
            <br>이메일 허용 목록에 존재하는 메일만 사용할 수 있습니다.
        </p>
        <ul>
            <%for(let domain of config.email_whitelist) {%>
                <li><%=domain%></li>
            <%}%>
        </ul>
    <%}%>

    <div class="signup-block signup-button-block">
        <div class="signup-button-block-child">
            <button class="thetree-button thetree-blue-button signup-button">가입</button>
        </div>
    </div>
</form>