<link rel="stylesheet" href="/css/views/recentDiscuss.css">
<%-include('navigation')%>
<div>전체 <%=total%>회</div>
<%-pageButton%>
<%-include('../components/recentDiscussList', { items, isDiscuss: true, hideUser: true })%>
<%-pageButton%>