<link rel="stylesheet" href="/css/views/recentDiscuss.css">

<%-include('navigation')%>

<div>전체 <%=total%>회</div>

<%
const link = (key, value) => `?${key}=${value}`;
const navigationPage = include('../components/pageButton', {
    prevLink: prevItem ? link('until', prevItem.uuid) : null,
    nextLink: nextItem ? link('from', nextItem.uuid) : null
});
%>

<div class="navigation-div navigation-page"><%-navigationPage%></div>
<%-include('../components/recentDiscussList', { items, isDiscuss: false, hideUser: true })%>
<div class="navigation-div navigation-page"><%-navigationPage%></div>