<link rel="stylesheet" href="/css/views/mypage.css">
<script src="/js/mypage.js"></script>

<form method="post">
    <div class="menu-block">
        <label for="usernameInput">사용자 이름</label>
        <p><%=user.name%></p>
        <a class="thetree-square-button thetree-mint-button" href="/member/change_name">이름 변경</a>
    </div>

    <div class="menu-block">
        <label for="emailInput">이메일</label>
        <p>
            <%=user.email%>
            <a class="thetree-square-button thetree-mint-button" href="/member/change_email">이메일 변경</a>
        </p>
    </div>

    <div class="menu-block">
        <label for="permInput">권한</label>
        <p><%=req.displayPermissions.join(', ')%></p>
    </div>

    <div class="menu-block">
        <label for="passwordInput">비밀번호</label>
        <a class="thetree-square-button thetree-mint-button" href="/member/change_password">비밀번호 변경</a>
    </div>

    <div class="menu-block">
        <label for="skinInput">스킨</label>
        <select id="skinInput" name="skin">
            <option value="default"<%=user.skin === 'default' ? ' selected' : ''%>>기본 스킨</option>
            <%for(let skin of skins) {%>
                <option<%=user.skin === skin ? ' selected' : ''%>><%=skin%></option>
            <%}%>
        </select>
    </div>

    <div class="menu-block">
        <label>이중인증</label>
        <%if(user.totpToken) {%>
            <a class="thetree-square-button thetree-danger-button" href="/member/deactivate_otp">TOTP 비활성화</a>
            <div class="new-passkey-block">
                <input id="passkey-name-input" type="text" placeholder="Passkey Name"><!--
             --><button id="add-passkey-button" class="thetree-square-button thetree-blue-button" type="button">Passkey 추가</button>
            </div>
            <table>
                <thead>
                <tr>
                    <th>이름</th>
                    <th>등록일</th>
                    <th>마지막 사용</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <%if(passkeys.length) for(let passkey of passkeys) {%>
                    <tr>
                        <td><%=passkey.name%></td>
                        <td><%-getFullDateTag(passkey.createdAt)%></td>
                        <td><%-passkey.lastUsedAt ? getFullDateTag(passkey.lastUsedAt) : 'Not used'%></td>
                        <td>
                            <button data-name="<%=passkey.name%>" class="delete-passkey-button thetree-square-button thetree-danger-button" type="button">삭제</button>
                        </td>
                    </tr>
                <%} else {%>
                    <tr>
                        <td colspan="4">등록된 Passkey가 없습니다.</td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        <%} else {%>
            <a class="thetree-square-button thetree-mint-button" href="/member/activate_otp">TOTP 활성화</a>
        <%}%>
    </div>

    <div class="menu-block">
        <label for="passwordInput">API Token</label>
        <button class="thetree-square-button thetree-danger-button" type="button" @click="document.getElementById('token-modal')._thetree.modal.open()">발급</button>
    </div>

    <div class="button-block">
        <%if(config.can_withdraw !== false) {%><a class="thetree-square-button thetree-danger-button" href="/member/withdraw">계정 삭제</a><%}%>
        <button class="thetree-square-button thetree-blue-button">변경</button>
    </div>
</form>

<div id="token-modal" class="thetree-modal-block thetree-modal">
    <div class="thetree-modal-block thetree-modal-bg"></div>
    <div class="thetree-modal-block thetree-modal-container" role="dialog" aria-modal="true" tabindex="-1">
        <div class="thetree-modal-content">
            <form method="post" action="/member/generate_api_token">
                <h4>API Token 발급</h4>
                <%-include('../components/alert', { alert: '' })%>

                <div class="token-modal-form">
                    <div>
                        <p>비밀번호:</p>
                        <input type="password" name="password">
                    </div>

                    <div class="modal-buttons">
                        <button class="thetree-modal-button thetree-square-button thetree-danger-button">생성</button><!--
                 --><button type="button" class="thetree-modal-button thetree-square-button thetree-modal-close">취소</button>
                    </div>
                </div>
                <div id="token-page" class="thetree-modal-hide-on-close" style="display: none">
                    <p>토큰:</p>
                    <input id="token-input" readonly @click="$el.setSelectionRange(0, $el.value.length)">
                    <ul>
                        <li>발급된 토큰은 이 창을 닫으면 다시 확인할 수 없습니다.</li>
                        <li>토큰은 비밀번호와 같이 취급해주세요.</li>
                    </ul>
                    <div class="modal-buttons">
                        <button type="button" class="thetree-modal-button thetree-square-button thetree-modal-close">닫기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>