<link rel="stylesheet" href="/css/views/pin_verification.css">
<script src="/js/pin_verification.js"></script>
<%-include('../components/alert')%>

<form id="pinForm" :class="doingPasskey && 'doing-passkey'" method="post" action="/member/login/pin" data-captcha="1" x-data="{ mode: '<%=hasPasskey ? 'passkey' : 'otp'%>', doingPasskey: false }">
    <input type="hidden" name="autologin" value="<%=autologin%>">

    <p>
        확인되지 않은 기기에서 로그인하셨습니다.<br>
        <%if(useTotp) {%>
            <span x-show="mode === 'passkey'">Passkey을 사용하여 2단계 인증을 진행합니다.</span>
            <span x-show="mode === 'otp'">Google Authenticator 코드를 입력해주세요.</span>
        <%} else {%>
            이메일(<b><%=email%></b>)로 전송된 PIN을 입력해주세요.
        <%}%>
    </p>

    <div x-show="mode === 'passkey'">
        <div class="passkey-icon-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"></path></svg>
        </div>

        <div class="passkey-button-block">
            <a id="passkey-login-button" role="button" href="#" class="thetree-button thetree-primary-button" :class="doingPasskey && 'thetree-button-disabled'">Passkey 로그인</a>
        </div>
    </div>

    <div class="pin-block" x-show="mode === 'otp'">
        <div class="pin-block-inside">
            <input class="pin-input" type="number" inputmode="numeric" pattern="\d*" autocomplete="one-time-code">
            <input class="pin-input" type="number" inputmode="numeric" pattern="\d*" autocomplete="one-time-code">
            <input class="pin-input" type="number" inputmode="numeric" pattern="\d*" autocomplete="one-time-code">
            <input class="pin-input" type="number" inputmode="numeric" pattern="\d*" autocomplete="one-time-code">
            <input class="pin-input" type="number" inputmode="numeric" pattern="\d*" autocomplete="one-time-code">
            <input class="pin-input" type="number" inputmode="numeric" pattern="\d*" autocomplete="one-time-code">
            <input id="pin-input-hidden" type="hidden" name="pin">
        </div>
    </div>

    <div class="button-block" :class="mode === 'otp' && 'button-block-otp'">
        <label class="trust-label">
            <input :disabled="doingPasskey" class="trust-input" type="checkbox" name="trust"<%=useTotp ? '' : ' checked'%>><span>이 기기를 신뢰</span>
        </label>
        <div class="button-block-right" x-show="mode === 'otp'">
            <button class="thetree-button thetree-primary-button">로그인</button>
        </div>
    </div>

    <%if(hasPasskey) {%>
        <div class="other-block">
            <div class="other-title">다른 인증 방법</div>
            <a href="#" class="other-button" :class="doingPasskey && 'doing-passkey'" @click="mode = mode === 'passkey' ? 'otp' : 'passkey'">
                <div class="other-button-icon" x-show="mode === 'passkey'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M16 64C16 28.7 44.7 0 80 0L304 0c35.3 0 64 28.7 64 64l0 384c0 35.3-28.7 64-64 64L80 512c-35.3 0-64-28.7-64-64L16 64zM144 448c0 8.8 7.2 16 16 16l64 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-64 0c-8.8 0-16 7.2-16 16zM304 64L80 64l0 320 224 0 0-320z"></path></svg>
                </div>
                <div class="other-button-content" x-show="mode === 'passkey'">
                    <div>일회용 암호</div>
                    <div class="other-button-description">이메일이나 OTP 앱에서 받은 일회용 인증 코드를 입력하여 인증합니다.</div>
                </div>

                <div class="other-button-icon" x-show="mode === 'otp'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"></path></svg>
                </div>
                <div class="other-button-content" x-show="mode === 'otp'">
                    <div>Passkey</div>
                    <div class="other-button-description">지문, 얼굴 인식 또는 보안 키를 사용하여 인증합니다.</div>
                </div>

                <div class="other-button-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
                </div>
            </a>
        </div>
    <%}%>
</form>