<link rel="stylesheet" href="/css/views/starred_documents.css">
<div class="list-block">
    <div class="list-row list-row-head">
        <div class="list-item">문서명</div>
        <div class="list-item">문서 수정 시각</div>
        <div class="list-item"></div>
    </div>
<!--    <div class="list-row">-->
<!--        <div class="list-item">-->
<!--            <a href="/">나무위키:대문</a>-->
<!--        </div>-->
<!--        <div class="list-item">-->
<!--            <%-getFullDateTag(new Date(), 'relative')%>-->
<!--        </div>-->
<!--        <div class="list-item">-->
<!--            <a href="#" class="thetree-button thetree-changes-button thetree-delete-button" title="삭제">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="button-icon"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"></path></svg>-->
<!--                <span class="button-text">삭제</span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="list-row">-->
<!--        <div class="list-item">-->
<!--            <a href="/">위키운영:내부 관리 리스트</a>-->
<!--        </div>-->
<!--        <div class="list-item">-->
<!--            <%-getFullDateTag(new Date(), 'relative')%>-->
<!--        </div>-->
<!--        <div class="list-item">-->
<!--            <a href="" class="thetree-button thetree-changes-button thetree-primary-button" title="추가">-->
<!--                <svg data-v-e1e70f6d="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="button-icon"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg>-->
<!--                <span class="button-text">추가</span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
    <%for(let star of stars) {%>
        <div class="list-row">
            <div class="list-item">
                <a href="<%=doc_action_link(star.document.parsedName, 'w')%>"><%=doc_fulltitle(star.document.parsedName)%></a>
            </div>
            <div class="list-item">
                <%-getFullDateTag(star.document.updatedAt, 'relative')%>
            </div>
            <div class="list-item" x-data="{ starred: true }">
                <a x-show="starred" @click="starred = false" href="<%=doc_action_link(star.document.parsedName, 'member/unstar')%>" class="thetree-button thetree-changes-button thetree-delete-button" title="삭제">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="button-icon"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"></path></svg>
                    <span class="button-text">삭제</span>
                </a>
                <a x-show="!starred" @click="starred = true" href="<%=doc_action_link(star.document.parsedName, 'member/star')%>" class="thetree-button thetree-changes-button thetree-primary-button" title="추가">
                    <svg data-v-e1e70f6d="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="button-icon"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg>
                    <span class="button-text">추가</span>
                </a>
            </div>
        </div>
    <%}%>
</div>
