<link rel="stylesheet" href="/css/views/withdraw.css">
<script src="/js/withdraw.js"></script>
<%-include('../components/alert')%>

<script nonce="<%=cspNonce%>">
    window.withdraw_pledge = <%-JSON.stringify(config.withdraw_pledge)%>;
</script>

<form method="post">
    <div class="form-block">
        <label for="passwordInput">비밀번호</label>
        <input type="password" id="passwordInput" name="password">
    </div>
    <div class="form-block">
        <label for="pledgeInput">
            <span class="pledge-text pledge-text-correct"></span><span class="pledge-text"></span>
        </label>
        <input id="pledgeInput" name="pledge" :placeholder="withdraw_pledge" autocomplete="off">
        <p>마지막 활동후 24시간이 지나야 삭제할 수 있습니다.</p>
    </div>
    <p>계정 삭제 버튼을 누르면 모든 데이터가 즉시 삭제되며 복구가 불가능합니다.</p>
    <%if(blacklistDays > 0 || blacklistDays == null) {%><p>단, <%=blacklistDays ? `${blacklistDays}일동안` : '영구적으로'%> 재가입이 불가능하며 이를 위해서 이메일, 기타 개인식별정보를 계정 삭제 후 <%=blacklistDays ? `${blacklistDays}일(영구 차단자는 영구적으로 보관될 수 있음)동안` : '영구적으로'%> 원문을 알 수 없는 단방향 해시함수 결과값을 저장합니다.</p><%}%>
    <div class="button-block">
        <button class="thetree-square-button thetree-danger-button">계정 삭제</button>
    </div>
</form>