<%
const tabs = [
    {
        name: 'wiki',
        label: '위키'
    },
    {
        name: 'discuss',
        label: '토론'
    },
    {
        name: 'skin',
        label: '스킨'
    }
]
%>
<div id="setting-modal" class="thetree-modal-block thetree-modal">
    <div class="thetree-modal-block thetree-modal-bg"></div>
    <div class="thetree-modal-block thetree-modal-container" role="dialog" aria-modal="true" tabindex="-1">
        <div class="thetree-modal-content">
            <div id="setting-modal-content">
                <button class="thetree-modal-close">×</button>
                <h1>설정</h1>
                <header>
                    <ul>
                        <%for(let tab of tabs) {%>
                            <li :class="$store.state.settingSelectedTab === '<%=tab.name%>' && 'selected-tab'" @click="$store.state.selectSettingTab('<%=tab.name%>')"><%=tab.label%></li>
                        <%}%>
                    </ul>
                </header>
                <section>
                    <%for(let tab of tabs) {%>
                        <div id="setting-tab-<%=tab.name%>">
                            <%-include(tab.name === 'skin' ? path.join(__dirname, `skins/${skin}/components/settingModal`) : `tabs/${tab.name}`, { getComponent: setting => include('components/' + setting.type, { key: `${tab.name === 'skin' ? skin : tab.name}.${setting.name}`, ...setting }) })%>
                        </div>
                    <%}%>
                </section>
            </div>
        </div>
    </div>
</div>