<div class="setting-bool">
    <label for="<%=key%>"><%=label%></label>
    <div>
        <label>
            <input type="checkbox" id="<%=key%>" class="setting-input" data-default="<%=defaultValue%>" @change="$store.state.setLocalConfig('<%=key%>', $el.checked)">
            사용
        </label>
    </div>
</div>