<link rel="stylesheet" href="/css/views/blockHistory.css">

<%
const blockHistoryLink = query => `/BlockHistory?${querystring.stringify({
    ...utils.withoutKeys(req.query, [query.from ? 'until' : 'from']),
    ...query
})}`;
const navigationPage = include('../components/pageButton', {
    prevLink: prevItem ? blockHistoryLink({
        until: prevItem.uuid
    }) : null,
    nextLink: nextItem ? blockHistoryLink({
        from: nextItem.uuid
    }) : null
});
%>

<form>
    <select class="search-type" name="target">
        <option value="text">내용</option>
        <option value="author"<%=req.query.target === 'author' ? ' selected' : ''%>>실행자</option>
    </select>

    <input class="search-input" name="query" placeholder="검색" value="<%=req.query.query%>">

    <div class="buttons-block">
        <button class="thetree-button thetree-primary-button">검색</button>
        <a href="/BlockHistory" role="button" class="thetree-button">초기화</a>
    </div>

    <%if(req.permissions.includes('developer')) {%>
        <label>
            <input type="checkbox" @change="$store.state.movePage('<%=blockHistoryLink({ showHidden: req.query.showHidden === '1' ? '0' : '1' })%>')"<%=req.query.showHidden === '1' ? ' checked' : ''%>>
            비공개 내역 보기
        </label>
    <%}%>
</form>

<div class="search-buttons-block">
    <div class="navigation-div navigation-page">
        <%-navigationPage%>

    </div>
</div>

<ul>
    <%for(let log of logs) {%>
        <li<%-log.hideLog ? ` class="hidden-item"` : ''%>>
        <%if(log.type === BlockHistoryTypes.ACLGroupAdd) {%>
            <div class="item-block icon-block">
                <span class="icon icon-green">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path></svg>
                </span>
            </div>
            <div class="item-block content-block">
                <div><%-userHtml(log.createdUser)%> 사용자가 <%-log.targetUser ? `${userHtml(log.targetUser)} 사용자를` : `${log.targetContent} IP를`%><%=log.targetUser && log.targetUser.name !== log.targetUsername ? ` (차단 당시 이름: ${log.targetUsername})` : ''%> <span class="bold"><%=log.aclGroup?.name || log.aclGroupName || log.aclGroup%></span> ACL 그룹에 <%=log.duration ? `${utils.durationToExactString(log.duration)} 동안` : '영구적으로'%> 등록함 <span class="gray">#<%=log.aclGroupId%></span></div>
                <div class="log-content">
                    <%-getFullDateTag(log.createdAt)%>
                    <span>(<%=log.content%>)</span>
                </div>
            </div>
        <%} else if(log.type === BlockHistoryTypes.ACLGroupRemove) {%>
            <div class="item-block icon-block">
                <span class="icon icon-gray">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM472 200H616c13.3 0 24 10.7 24 24s-10.7 24-24 24H472c-13.3 0-24-10.7-24-24s10.7-24 24-24z"></path></svg>
                </span>
            </div>
            <div class="item-block content-block">
                <div><%-userHtml(log.createdUser)%> 사용자가 <%-log.targetUser ? `${userHtml(log.targetUser)} 사용자를` : `${log.targetContent} IP를`%><%=log.targetUser && log.targetUser.name !== log.targetUsername ? ` (차단 당시 이름: ${log.targetUsername})` : ''%> <span class="bold"><%=log.aclGroup?.name || log.aclGroupName || log.aclGroup%></span> ACL 그룹에서 제거함 <span class="gray">#<%=log.aclGroupId%></span></div>
                <div class="log-content">
                    <%-getFullDateTag(log.createdAt)%>
                    <span>(<%=log.content%>)</span>
                </div>
            </div>
        <%} else if(log.type === BlockHistoryTypes.Grant) {%>
            <div class="item-block icon-block">
                <span class="icon icon-orange">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM625 177L497 305c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L591 143c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path></svg>
                </span>
            </div>
            <div class="item-block content-block">
                <div><%-userHtml(log.createdUser)%> 사용자가 <%-userHtml(log.targetUser)%> 사용자의 권한 설정</div>
                <div class="log-content"><%=log.content%></div>
                <div class="log-content"><%-getFullDateTag(log.createdAt)%></div>
            </div>
        <%} else if(log.type === BlockHistoryTypes.BatchRevert) {%>
            <div class="item-block icon-block">
                <span class="icon icon-blue">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z"></path></svg>
                </span>
            </div>
            <div class="item-block content-block">
                <div><%-userHtml(log.createdUser)%> 사용자가 <%-userHtml(log.targetUser)%> <%=log.targetUser.type === UserTypes.Account ? '사용자' : 'IP'%>의 기여를 일괄 되돌림</div>
                <div class="log-content">
                    <%-getFullDateTag(log.createdAt)%>
                    <span>(<%=log.content%>)</span>
                </div>
            </div>
        <%} else if(log.type === BlockHistoryTypes.LoginHistory) {%>
            <div class="item-block icon-block">
                <span class="icon icon-purple">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path></svg>
                </span>
            </div>
            <div class="item-block content-block">
                <div><%-userHtml(log.createdUser)%> 사용자가 <%-userHtml(log.targetUser)%> 사용자의 로그인 기록 조회</div>
                <div class="log-content">
                    <%-getFullDateTag(log.createdAt)%>
                </div>
            </div>
        <%} else {%>
            not implemented
        <%}%>
        </li>
    <%}%>
</ul>

<div class="navigation-div navigation-page"><%-navigationPage%></div>