<h2>the tree</h2>

<p>v<%=global.versionInfo.versionData.version%></p>
<p>엔진 업데이트: <%-getFullDateTag(global.versionInfo.commitDate)%> (<%-getFullDateTag(global.versionInfo.commitDate, 'relative')%>)</p>
<ul>
    <li>Engine: <%=global.versionInfo.commitId.slice(0, 7)%></li>
    <li>Skin: <%=skinCommitId%></li>
</ul>

<p>Copyright <a href="https://github.com/wjdgustn">hyonsu</a> all rights reserved.</p>

<h3>Contributors</h3>
<ul>
    <li>admin@hyonsu.com (backend & frontend)</li>
</ul>

<h3>Open source license</h3>
<ul>
    <li>
        <pre><%=openSourceLicense%></pre>
    </li>
</ul>