<link rel="stylesheet" href="/css/views/upload.css">
<script src="/js/dropdown.js"></script>
<script src="/js/upload.js"></script>

<%alert = typeof alert === 'undefined' ? '' : alert;%>
<%-include('components/alert', { alert })%>

<div>
    <form method="post" enctype="multipart/form-data">

        <div class="form-block">
            <label for="fakeFileInput">파일 선택</label>
            <div class="file-block">
                <input id="fakeFileInput" readonly>
                <span>
                    <button id="fakeFileButton" class="thetree-button" type="button">Select</button>
                </span>
            </div>
            <input type="file" id="fileInput" accept="image/*" name="file" hidden>
        </div>

        <div class="form-block">
            <label for="documentInput" x-ref="documentLabel">파일 이름</label>
            <input id="documentInput" name="document" @input="$refs.documentLabel.innerText = $el.value.length ? `파일 이름 (${$el.value.length}/190)` : '파일 이름'">
        </div>

        <textarea name="text" wrap="soft"><%=config.file_upload_template%></textarea>

        <div class="form-block">
            <label for="licenseSelect">라이선스</label>
            <%-include('../components/searchableDropdown', { id: 'licenseSelect', name: 'license', options: licenses })%>
        </div>

        <div class="form-block">
            <label for="categorySelect">분류</label>
            <%-include('../components/searchableDropdown', { id: 'categorySelect', name: 'category', options: categories })%>
        </div>

        <div class="form-block">
            <label for="logInput" x-ref="logLabel">요약</label>
            <input id="logInput" name="log" @input="$refs.logLabel.innerText = $el.value.length ? `요약 (${$el.value.length}/255)` : '요약'">
        </div>

        <span><%-config.editagree_text%></span>

        <%if(session.account.type !== UserTypes.Account) {%>
        <div>
            <p class="ip-warn">비로그인 상태로 편집합니다. 로그인하지 않은 상태로 문서 편집을 저장하면, 편집 역사에 본인이 사용하는 IP(<%=req.ip%>) 주소 전체가 영구히 기록됩니다.</p>
        </div>
        <%}%>

        <button class="thetree-square-button thetree-blue-button">업로드</button>
    </form>
</div>