
<link rel="stylesheet" href="/css/views/acl.css">

<script src="/js/acl.js"></script>

<div class="nav-block">
    <div class="nav-block-child nav-block-line">
        <div class="nav-block-content">
            <ul class="nav-block-content-ul nav-no-border">
                <li><a class="nav-content" href="#document"<%=editableACL ? ' data-editable' : ''%>>문서 ACL</a></li>
                <li><a class="nav-content" href="#namespace"<%=editableNSACL ? ' data-editable' : ''%>>이름공간 ACL</a></li>
            </ul>
        </div>
    </div>
    <%# invisible gradient not implemented %>
</div>

<div class="nav-block" style="margin-top: 0.5rem;">
    <div class="nav-block-child nav-block-line">
        <div class="nav-block-content">
            <ul class="nav-block-content-ul nav-no-border">
                <%for(let [key, value] of Object.entries(ACLTypes).slice(1)) {%>
                    <li><a class="nav-content" data-type="<%=key%>" href="#document.<%=utils.camelToSnakeCase(key)%>"><%=value === ACLTypes.ACL ? 'ACL' : ACL.aclTypeToString(value)%></a></li>
                <%}%>
            </ul>
        </div>
    </div>
    <%# invisible gradient not implemented %>
</div>

<div>
    <h4 id="acl-title" class="title">카테고리 이름</h4>

    <div class="table-elements table-block">
        <table class="table-elements acl-table">
            <colgroup>
                <col style="width: 60px;">
                <col>
                <col style="width: 80px;">
                <col style="width: 200px;">
                <col style="width: 60px;">
            </colgroup>

            <thead>
            <tr>
                <th>No</th>
                <th>Condition</th>
                <th>Action</th>
                <th>Expiration</th>
                <th></th>
            </tr>
            </thead>

            <%for(let [key, value] of Object.entries(ACLTypes).slice(1)) {%>
                <%const rulesGroup = [acl?.aclTypes[value] ?? [], namespaceACL?.aclTypes[value] ?? []];%>
                <%for(let i in rulesGroup) {%>
                    <tbody id="tbody-<%=i === '0' ? 'document' : 'namespace'%>.<%=utils.camelToSnakeCase(key)%>" class="nav-tbody" hidden>
                    <%const rules = rulesGroup[i];%>
                    <%const editable = i === '0' ? editableACL : editableNSACL;%>
                    <%if(rules.length) for(let i in rules) {%>
                        <%const rule = rules[i];%>
                        <tr data-rule="<%=rule.uuid%>"<%=editable ? ' data-editable' : ''%>>
                            <td><%=parseInt(i) + 1%></td>
                            <td><%=ACL.ruleToConditionString(rule, false)%></td>
                            <td><%-ACL.actionToString(rule)%></td>
                            <td><%-rule.expiresAt ? getFullDateTag(rule.expiresAt) : '영구'%></td>
                            <td>
                                <%if(editable) {%>
                                    <a href="/action/acl/delete?acl=<%=rule.uuid%>" class="acl-delete-button thetree-square-button thetree-danger-button">삭제</a>
                                <%}%>
                            </td>
                        </tr>
                    <%} else {%>
                        <tr>
                            <%if(i === '0') {%>
                                <td colspan="5">(규칙이 존재하지 않습니다. <a href="#namespace.<%=utils.camelToSnakeCase(key)%>" class="content-nav-content">이름공간 ACL</a>이 적용됩니다.)</td>
                            <%} else {%>
                                <td colspan="5">(규칙이 존재하지 않습니다. 모두 거부됩니다.)</td>
                            <%}%>
                        </tr>
                    <%}%>
                    </tbody>
                <%}%>
            <%}%>
        </table>

        <form id="create-acl-form" method="post" hidden x-data="{ conditionType: '', actionType: '' }">
            <input type="hidden" name="target">
            <input type="hidden" name="aclType">

            <div class="acl-form-group">
                <label>Condition</label>
                <div>
                    <select name="conditionType" x-model="conditionType" x-init="conditionType = $el.value">
                        <%for(let [key, value] of Object.entries(ACLConditionTypes)) {%>
                        <option value="<%=key%>"><%=ACL.conditionToString(value)%></option>
                        <%}%>
                    </select>

                    <%if(isDev) {%><input type="text" list="permissions" name="permission" x-show="conditionType === 'Perm'"><%}%>
                    <<%-isDev ? 'datalist' : 'select name="permission"'%> id="permissions" x-show="conditionType === 'Perm'">
                        <%for(let i in ACLPermissions) {%>
                        <%const perm = ACLPermissions[i];%>
                        <option value="<%=perm%>"><%=ACL.permissionToString(perm)%></option>
                        <%}%>
                    </<%=isDev ? 'datalist' : 'select'%>>

                    <input type="text" name="conditionContent" x-show="conditionType !== 'Perm'">
                </div>
            </div>

            <div class="acl-form-group">
                <label>Action :</label>
                <div>
                    <select name="actionType" x-model="actionType" x-init="actionType = $el.value">
                        <%for(let [key, value] of Object.entries(ACLActionTypes).slice(1)) {%>
                        <option value="<%=key%>"<%=value === ACLActionTypes.GotoNS ? ' selected' : ''%>><%=ACL.actionToString(value)%></option>
                        <%}%>
                    </select>

                    <input type="text" name="actionContent" x-show="actionType === 'GotoOtherNS'" placeholder="namespace">
                </div>
            </div>

            <div class="acl-form-group" x-data="{ duration: '0' }">
                <label>Duration :</label>
                <div>
                    <select name="duration" x-model="duration" x-init="duration = $el.value">
                        <option value="0">영구</option>
                        <option value="300">5분</option>
                        <option value="600">10분</option>
                        <option value="1800">30분</option>
                        <option value="3600">1시간</option>
                        <option value="7200">2시간</option>
                        <option value="86400">하루</option>
                        <option value="259200">3일</option>
                        <option value="432000">5일</option>
                        <option value="604800">7일</option>
                        <option value="1209600">2주</option>
                        <option value="1814400">3주</option>
                        <option value="2419200">4주</option>
                        <option value="4838400">2개월</option>
                        <option value="7257600">3개월</option>
                        <option value="14515200">6개월</option>
                        <option value="29030400">1년</option>
                        <option value="raw">직접입력</option>
                    </select>
                    <input type="number" name="rawDuration" x-show="duration === 'raw'">
                    <select name="rawMultiplier" x-show="duration === 'raw'">
                        <option value="1">초</option>
                        <option value="60">분</option>
                        <option value="3600">시간</option>
                        <option value="86400">일</option>
                        <option value="604800">주</option>
                    </select>
                </div>
            </div>

            <button class="thetree-square-button thetree-blue-button">추가</button>
            <%if(isDev) {%><button type="button" id="add-to-all" class="thetree-square-button thetree-blue-button">모든 작업에 추가</button><%}%>
        </form>
    </div>
</div>