<link rel="stylesheet" href="/css/views/backlink.css">

<%
const link = query => doc_action_link(document, 'backlink', query);
const navigationPage = include('../components/pageButton', {
    prevLink: prevItem ? link({
        until: prevItem.title
    }) : null,
    nextLink: nextItem ? link({
        from: nextItem.title
    }) : null
});
%>

<form class="filter-form" method="get">
    <label for="namespaceSelect">이름공간:</label>
    <select class="filter-select" id="namespaceSelect" name="namespace">
        <%for(let ns of namespaceCounts) {%>
            <option value="<%=ns.namespace%>"<%=selectedNamespace === ns.namespace ? ' selected' : ''%>><%=ns.namespace%> (<%=ns.count%>)</option>
        <%}%>
    </select>
    <select class="filter-select" name="flag">
        <option value="0">(전체)</option>
        <%for(let [name, flag] of Object.entries(BacklinkFlags)) {%>
            <option value="<%=flag%>"<%=req.query.flag === flag.toString() ? ' selected' : ''%>><%=name.toLowerCase()%></option>
        <%}%>
    </select>

    <button class="thetree-button thetree-primary-button">제출</button>
</form>

<div class="navigation-div navigation-page"><%-navigationPage%></div>

<%if(Object.keys(backlinksPerChar).length) {%>
    <div class="backlink-block">
        <%for(let [char, documents] of Object.entries(backlinksPerChar)) {%>
            <div>
                <h3><%=char%></h3>
                <ul>
                    <%for(let document of documents) {%>
                        <li>
                            <a href="<%=doc_action_link(document.parsedName, 'w')%>"><%=doc_fulltitle(document.parsedName)%></a>
                            (<%=document.flags.map(a => utils.getKeyFromObject(BacklinkFlags, a).toLowerCase()).join(',')%>)
                        </li>
                    <%}%>
                </ul>
            </div>
        <%}%>
    </div>
<%} else {%>
    <div>해당 문서의 역링크가 존재하지 않습니다.</div>
<%}%>

<div class="navigation-div navigation-page"><%-navigationPage%></div>