<%for(let [namespace, data] of Object.entries(categoryInfos)) {%>
<%
    const link = query => doc_action_link(document, 'w', {
        namespace: namespace,
        ...query
    });
    const navigationPage = include('../components/pageButton', {
        prevLink: data.prevItem ? link({
            cuntil: data.prevItem.title
        }) : null,
        nextLink: data.nextItem ? link({
            cfrom: data.nextItem.title
        }) : null
    });
%>

    <div class="category-document-block">
        <h2><%=namespace === '분류' ? '하위 분류' : `"${document.title}" 분류에 속하는 ${namespace}`%></h2>
        <%if(data.prevItem || data.nextItem) {%>
            <div class="navigation-div navigation-page"><%-navigationPage%></div>
        <%}%>

        <div>
            <div>전체 <%=data.count%>개 문서</div>
            <div class="<%=Object.keys(data.categoriesPerChar).length >= 3 ? 'category-document-many-content' : ''%>">
                <%for(let [char, documents] of Object.entries(data.categoriesPerChar)) {%>
                    <div>
                        <h3><%=char%></h3>
                        <ul>
                            <%for(let document of documents) {%>
                                <li>
                                    <a href="<%=doc_action_link(document.parsedName, 'w')%>"><%=document.category.text || doc_fulltitle(document.parsedName)%></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                <%}%>
            </div>
        </div>

        <%if(data.prevItem || data.nextItem) {%>
            <div class="navigation-div navigation-page"><%-navigationPage%></div>
        <%}%>
    </div>
<%}%>