<link rel="stylesheet" href="/css/views/discuss.css">
<link rel="stylesheet" href="/css/views/thread.css">

<h3>편집 요청</h3>
<ul>
    <%#<li><a href="/">편집 요청 Sans</a></li>%>
</ul>
<p><a href="<%=doc_action_link(document, 'discuss', { state: 'closed_edit_requests' })%>">[닫힌 편집 요청 보기]</a></p>

<h3>토론</h3>
<ul>
    <%for(let i in openThreads) {%>
        <%
        const thread = openThreads[i];
        const num = parseInt(i) + 1;
        %>
        <li>
            <a href="#s-<%=num%>"><%=num%></a>.
            <a href="/thread/<%=thread.url%>"><%=thread.topic%></a>
        </li>
    <%}%>
</ul>
<p><a href="<%=doc_action_link(document, 'discuss', { state: 'close' })%>">[닫힌 토론 목록 보기]</a></p>


<%for(let i in openThreads) {%>
    <%
        const thread = openThreads[i];
        const num = parseInt(i) + 1;
    %>
    <div>
        <%if(req.permissions.includes('delete_thread')) {%>
            <form method="post" class="delete-thread-form" action="/admin/thread/<%=thread.url%>/delete">
                <button class="thetree-square-button thetree-danger-button">[ADMIN] 스레드 삭제</button>
            </form>
        <%}%>
        <h2>
            <%=num%>.
            <a href="/thread/<%=thread.url%>" id="s-<%=num%>"><%=thread.topic%></a>
        </h2>
        <div class="comment-preview-block">
            <%for(let j in thread.recentComments) {%>
                <%const comment = thread.recentComments[j];%>
                <div>
                    <%if(j === '1' && comment.id !== 2) {%><a href="/" class="thread-more">more...</a><%}%>
                    <%-include('../components/commentPreview', { comment })%>
                </div>
            <%}%>
        </div>
    </div>
<%}%>

<h3>새 주제 생성</h3>

<%
const docTitle = doc_fulltitle(page.data.document);
const isFrontPage = docTitle === config.front_page;
%>
<%if(isFrontPage) {%>
<div class="thetree-alert">
    <div class="thetree-alert-content">
        <strong>[경고!]</strong>
        이 토론은 <%=docTitle%> 문서의 토론입니다.
        <%=docTitle%> 문서와 관련 없는 토론은 각 문서의 토론에서 진행해 주시기 바랍니다.
        <%=docTitle%> 문서와 관련 없는 토론은 삭제될 수 있습니다.
    </div>
</div>
<%}%>

<form method="post">
    <%if(req.query.doc) {%><input type="hidden" name="document" value="<%=req.query.doc%>"><%}%>
    <div class="form-block">
        <label for="topicInput">주제 :</label>
        <input type="text" id="topicInput" name="topic">
    </div>
    <div class="form-block">
        <label for="contentInput">내용 :</label>
        <textarea name="text" id="contentInput" rows="5"></textarea>
    </div>

    <div>
        <%if(session.account.type !== UserTypes.Account) {%><p class="ip-warn">비로그인 상태로 토론에 참여합니다. 토론 내역에 IP(<%=req.ip%>) 주소 전체가 영구히 기록됩니다.</p><%}%>
    </div>

    <button class="thetree-square-button thetree-blue-button">전송</button>
    <div class="clearboth"></div>
</form>