<link rel="stylesheet" href="/css/views/edit.css">
<link rel="stylesheet" href="/css/views/diff.css">
<script src="/js/edit.js"></script>
<script src="/js/unsavedWarn.js"></script>
<script src="/js/preview.js"></script>

<%conflict = typeof conflict === 'undefined' ? null : conflict%>
<%-include('../components/alert', { alert: isEditRequest ? (conflict ? '편집 도중에 다른 사용자가 먼저 편집을 했습니다.' : null) : aclMessage })%>
<%if(req.query.redirected === '1' && isEditRequest && aclMessage) {%>
    <div class="thetree-alert">
        <div class="thetree-alert-content">
            <strong>[알림]</strong>
            문서를 편집할 권한이 없기 때문에 편집 요청으로 이동되었습니다.
            <div><%-aclMessage%></div>
        </div>
    </div>
<%}%>

<%if(contentHtml) {%>
    <%-contentHtml%>
<%}%>

<%if(req.flash.conflict) {%>
    <%-include('../components/diff', { name: `r${req.flash.conflict.editedRev} vs 사용자 입력`, ...req.flash.conflict.diff })%>
    <span class="conflict-error">자동 병합에 실패했습니다! 수동으로 수정된 내역을 아래 텍스트 박스에 다시 입력해주세요.</span>
<%}%>

<form id="edit-form" method="post" x-data="{ selectedTab: null }"<%=useCaptcha ? ' data-captcha="1"' : ''%>>
    <%for(let [key, value] of Object.entries(body).filter(([_, v]) => !!v)) {%>
        <input type="hidden" name="<%=key%>" value="<%=value%>">
    <%}%>

    <ul class="form-ul">
        <%if(isEditRequest || !aclMessage) for(let plugin of global.plugins.editor) {%>
            <%const tabName = `plugin-${plugin.name}`;%>
            <li class="form-li"><button type="button" class="tab-button" data-tab="<%=tabName%>" :class="selectedTab === $el.dataset.tab && 'selected-tab'" @click="selectedTab = $el.dataset.tab"><%=plugin.tabName%></button></li>
        <%}%>
        <li class="form-li"><button type="button" class="tab-button" data-tab="raw" :class="selectedTab === $el.dataset.tab && 'selected-tab'" @click="selectedTab = $el.dataset.tab">RAW 편집</button></li>
        <%if(isEditRequest || !aclMessage) {%>
        <li class="form-li"><button id="preview-tab-button" class="tab-button" type="button" data-tab="preview" :class="selectedTab === $el.dataset.tab && 'selected-tab'" @click="selectedTab = $el.dataset.tab">미리보기</button></li>

        <li class="form-li editor-buttons">
            <%for(let plugin of global.plugins.editor) {%>
                <%if(!plugin.buttons?.length) continue;%>
                <div x-show="selectedTab === 'plugin-<%=plugin.name%>'">
                    <%for(let button of plugin.buttons) {%><div><button type="button" data-name="<%=button.name%>" class="plugin-<%=plugin.name%>-button"><%=button.label%></button></div><%}%>
                </div>
            <%}%>
        </li>
        <%}%>
    </ul>

    <div class="tabs">
        <%for(let plugin of global.plugins.editor) {%>
            <div id="plugin-<%=plugin.name%>-tab" class="plugin-tab" data-tab="plugin-<%=plugin.name%>" :class="selectedTab === $el.dataset.tab && 'selected-tab-content'">
                <%-include(path.join(global.pluginPaths[plugin.name], 'editor'), { plugin })%>
            </div>
        <%}%>

        <div data-tab="raw" :class="selectedTab === $el.dataset.tab && 'selected-tab-content'">
            <textarea id="text-input" class="unsaved-warn" name="text" wrap="soft"<%=!isEditRequest && aclMessage ? ' readonly' : ''%>><%=content%></textarea>
        </div>

        <div id="preview-tab-content" data-tab="preview" :class="selectedTab === $el.dataset.tab && 'selected-tab-content'">
            im preview
        </div>
    </div>

    <%if(isEditRequest || !aclMessage) {%>
    <div class="log-block">
        <label for="logInput" x-ref="logLabel">요약<%=req.editRequest ? ` (${req.editRequest.log.length}/255)` : ''%></label>
        <input type="text" id="logInput" name="log" @input="$refs.logLabel.innerText = $el.value.length ? `요약 (${$el.value.length}/255)` : '요약'" value="<%=req.editRequest?.log%>">
    </div>

    <label>
        <input type="checkbox" name="agree" value="Y"<%=req.permissions.includes('contributor') ? ' checked' : ''%>>
        <span><%-editagree_text%></span>
    </label>

    <%if(session.account.type !== UserTypes.Account) {%>
    <div>
        <p class="ip-warn">비로그인 상태로 편집합니다. 로그인하지 않은 상태로 문서 편집을 저장하면, 편집 역사에 본인이 사용하는 IP(<%=req.ip%>) 주소 전체가 영구히 기록됩니다.</p>
    </div>
    <%}%>

    <button class="thetree-square-button thetree-blue-button">저장</button>
    <%}%>
</form>