<link rel="stylesheet" href="/css/views/history.css">

<%
const enablePrev = revs[0].uuid !== latestRev.uuid;
const enableNext = revs[revs.length - 1].rev > 1;

const link = query => doc_action_link(document, 'history', query);
const navigationPage = include('../components/pageButton', {
    prevLink: enablePrev ? link({
        until: revs[0].rev + 1
    }) : null,
    nextLink: enableNext ? link({
        from: revs[revs.length - 1].rev - 1
    }) : null
});
%>

<div class="history-style">
<div class="navigation-group">
    <div class="navigation-div navigation-page navigation-page-top"><%-navigationPage%></div>

    <form id="navigation-rev-form" :class="$store.state.currentTheme === 'dark' ? 'theseed-dark-mode' : 'theseed-white-mode'">
        <div class="navigation-div navigation-rev">
            <input class="navigation-rev-input" type="number" name="from" required>
            <span class="navigation-rev-placeholder">r</span>
            <button class="navigation-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2l0 64-112 0C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96l96 0 0 64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"></path></svg>
            </button>
        </div>
    </form>
</div>

<form id="rev-compare-form" action="<%=doc_action_link(document, 'diff')%>">
    <p>
        <button class="navigation-button">선택 리비전 비교</button>
    </p>

    <ul x-data="{ oldRow: <%=revs.length%>, newRow: -1 }">
        <%for(let i in revs) {%>
            <%rev = addHistoryData(revs[i], document);%>

            <li<%-rev.troll ? ' class="troll"' : ''%>>
                <span><%-getFullDateTag(rev.createdAt)%></span>
                <span class="history-action">
                    <%const actions = [
                        ...(rev.troll ? [] : [{
                            action: 'w',
                            text: '보기',
                            follow: true
                        }]),
                        {
                            action: 'raw',
                            text: 'RAW'
                        },
                        {
                            action: 'blame',
                            text: 'Blame'
                        },
                        ...(rev.troll ? [] : [{
                            action: 'revert',
                            text: '이 리비전으로 되돌리기'
                        }]),
                        ...(rev.rev > 1 ? [{
                            action: 'diff',
                            text: '비교'
                        }] : [])
                    ];

                    if(req.permissions.includes('mark_troll_revision')) {
                        if(rev.troll) actions.push({
                            action: 'a/unmark_troll',
                            text: '[A]반달표시 해제'
                        });
                        else actions.push({
                            action: 'a/mark_troll',
                            text: '[A]반달로 표시'
                        });
                    }

                    if(rev.log && req.permissions.includes('hide_document_history_log')) {
                        if(rev.hideLog) actions.push({
                            action: 'a/unhide_log',
                            text: '[A]편집요약 숨기기 해제'
                        });
                        else actions.push({
                            action: 'a/hide_log',
                            text: '[A]편집요약 숨기기'
                        });
                    }

                    if(req.permissions.includes('hide_revision')) {
                        if(rev.hidden) actions.push({
                            action: 'a/unhide',
                            text: '[A]리비전 숨기기 해제'
                        });
                        else actions.push({
                            action: 'a/hide',
                            text: '[A]리비전 숨기기'
                        });
                    }
                    %>

                    (<%-actions.map(a => `<a href="${doc_action_link(document, a.action, { uuid: rev.uuid })}"${a.follow ? '' : ' rel="nofollow"'}>${a.text}</a>`).join(' | ')%>)

                </span>

                <%if(!rev.troll) {%>
                <span>
                    <input type="radio" name="olduuid" value="<%=rev.uuid%>" @change="oldRow=<%=i%>" :style="{ visibility: <%=i%> > newRow ? 'visible' : 'hidden' }"><input type="radio" name="uuid" value="<%=rev.uuid%>" @change="newRow=<%=i%>" :style="{ visibility: <%=i%> < oldRow ? 'visible' : 'hidden' }">

                </span>
                <%}%>

                <%if(rev.infoText) {%><i>(<%-rev.infoText%>)</i><%}%>

                <strong>
                    <a class="rev-text" href="#" @click.prevent="navigator.clipboard.writeText('<%=rev.uuid%>')">r<%=rev.rev%></a>

                </strong>

                <%-rev.diffHtml%>

                <%if(rev.editRequest) {%><a href="/edit_request/<%=rev.editRequest.url%>"><i>(편집 요청)</i></a><%}%>

                <%-rev.userHtml%>

                <%if(rev.troll) {%>
                    [<%-userHtml(rev.trollBy)%> 사용자에 의해 반달로 표시됨]
                <%} else if(rev.log) {%>
                    (<span class="history-log"><%if(rev.hideLog) {%><%-userHtml(rev.hideLogBy)%> 사용자에 의해 편집 요약 숨겨짐<%} else {%><%=rev.log%><%}%></span>)
                    <%if(req.permissions.includes('hide_document_history_log') && rev.hideLog) {%>
                        <span x-data="{ show: false }">
                            <button x-show="!show" class="thetree-button thetree-changes-button" type="button" @click="show=true">내용 보기</button>
                            <span x-cloak x-show="show">(<span class="history-log">내용: <%=rev.log%></span>)</span>
                        </span>
                    <%}%>
                <%}%>
            </li>
        <%}%>
    </ul>

    <div class="navigation-div navigation-page"><%-navigationPage%></div>
</form>
</div>